// Bootstrap Font Path
$icon-font-path: '/node_modules/bootstrap-sass/assets/fonts/bootstrap';

// Flexboxgrid
$grid-columns: 12;
$gutter-width: 1rem;
$outer-margin: 1rem;

// Fonts
$fonts-color : #454545;

// Buttons
$btn-color-primary : #703030;
$btn-color-secondary : #7E827A;